################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.exe
*/build
*/out
*/output/*
!/output/.gitkeep
*.wav
*.lib
*.obj